
.header-contacts {
    padding-top: 50px !important;
}

.header-contacts::after {
    content: '';
    display: block;
    margin: 10px auto;
    height: 3px;
    width: 50px;
    background: #9CC4C3;
    will-change: transform, opacity;
}

#contacts {
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 87%, rgba(147,193,190,1) 100%);*/
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(234, 236, 238, 1) 0%, rgba(219, 231, 231, 1) 92%, rgba(147, 193, 190, 1) 100%); //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(234,236,238,1) 0%, rgba(219,231,231,1) 77%, rgba(147,193,190,1) 100%);
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 87%, rgba(133,172,170,0.01) 100%);*/

}
/*background: linear-gradient(0deg, rgba(255,255,255,1) 87%, rgba(147,193,190,1) 100%);*/

.contacts-image-column {
    padding: 0px!important;
}

.image-contacts {
    width: 100%;
}

.form-contacts {
    margin: 50px auto 0px;
    width: 70%;
    top:-50px;
}

.contacts-button {
    margin-top:30px!important;
}

.form-field-contacts {
    padding-bottom:20px;
}

@media screen and (max-width: 768px) {

    .form-contacts, .header-contacts {
        padding-top:20px!important;
    }
}
