@import "../../../style/variables";

#products {
  padding-top: 6rem;
  // background: linear-gradient(0deg, rgba(255, 255, 255, 1) 86%, rgba(233, 236, 238, 1) 98%);
}

.header-products::after {
  content: "";
  display: block;
  margin: 10px auto;
  height: 3px;
  width: 50px;
  background: #9cc4c3;
  will-change: transform, opacity;
}

.products-tab > div {
  div.ui.secondary.menu {
    display: flex;
    justify-content: center;
  }

  // div.ui.segment.active.tab > div {
  //   border: none;
  // }
  div.ui.segment.active.tab {
    border: none;
    box-shadow: none;
  }

  // div.ui.segment.active.tab > div {
  //   border-top: 1px solid #d4d4d5;
  // }
}

.products-images,
.product-column,
.product-name {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-images {
  background: #fff !important;
}

.product-name {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 5px;
}

.cosmetics-left-tab > div.ui.grid {
  div.four.wide.column {
    padding: 0px;
    // background: linear-gradient(0deg, rgba(147, 193, 190, 0.8) 0%, rgba(255, 255, 255, 1) 13%);
  }

  div.stretched.twelve.wide.column {
    border-top: 1px solid #d4d4d5;
    padding: 0px 0px 0px 1px;
    // background: linear-gradient(0deg, rgba(147, 193, 190, 0.8) 0%, rgba(255, 255, 255, 1) 13%);

    .active.tab {
      border-left: none !important;
      border-radius: 0px;

      div.ui.grid {
        background: #fff;

        div.row > * {
          margin-top: 5px !important;
        }
      }
    }
  }

  div.four.wide.column {
    padding-right: 0px;

    .tabular.menu {
      border-right: 1px solid #d4d4d5;
      height: 100%;
    }
  }
}

.products-reveal {
  width: 250px;
  margin-left: 25%;
}

.products-tab {
  display: flex;
  flex-direction: column;
}

// lifting thread

.products-lifting-column {
  margin-left: 2%;
}

.products-lifting-modal {
  width: 35% !important;
  background: transparent !important;
  box-shadow: none !important;
}

.products-lifting-modal-image {
  width: 100%;
  border-radius: 5px;
}

.products-lifting-modal-content {
  padding: 0px !important;
  background: transparent !important;
}

.products-lifting-modal-button-close {
  background: transparent !important;
  position: relative;
  right: -10px;
  top: 140px;
  z-index: 50px;
  margin: 0px;
  float: right;
}

.products-lifting-button-expand {
  position: relative !important;
  top: 25px !important;
  float: right;
  right: 5px;
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;
}

.products-lifting-image {
  float: right !important;
}

// cosmetics

.products-cosmetics-container {
}
.products-cosmetics-grid {
}

.products-cosmetics-header {
  padding-top: 30px !important;
  margin: auto !important;
}

.products-cosmetics-steps {
  padding: 0 50px;
}

.products-cosmetics-images {
  width: 500px;
  height: 325px;
}

.products-cosmetics-content {
  margin: auto !important;
  padding: 50px !important;
  font-size: 18px !important;
}
// .products-cosmetics-item {
//   font-size: 16px;
// }
// .products-cosmetics-column {
//   margin: auto!important;
//   padding: 20px !important;
//   height:550px;
// }

// .products-cosmetics-description {
//   height: 300px;
//   line-height: 1.6rem;
// }

// .products-cosmetics-card {
//   //display: flex!important;
//   margin: auto !important;
//   padding: 20px !important;
//   height: 100%;

// }

// .products-cosmetics-image {
//   width:50%;
//   margin: auto!important;
//   //border-bottom: 1px solid lightgray;
// }

// .products-cosmetics-header {
//   padding-top:15px;
//   border-top: 1px solid lightgray;
// }

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .products-lifting-button-expand {
    float: right;
    display: block;
    visibility: hidden;
    top: 75px !important;
  }
}

.products-lifting-modal-button-close {
  cursor: pointer;
  position: absolute;
  top: -2.5rem !important;
  right: -2.5rem !important;
  z-index: 1 !important;
  opacity: 0.8 !important;
  font-size: 1.25em !important;
  color: #fff !important;
  width: 2.25rem !important;
  height: 2.25rem !important;
  padding: 0.625rem 0 0 0 !important;
}

.products-lifting-modal-button-close:hover {
  opacity: 1 !important;
}

@media only screen and (min-width: 1920px) {
  .products-lifting-grid {
    justify-content: center !important;
  }

  .products-tab > div > .secondary.menu {
    font-size: 17px;
  }

  .products-lifting-button-expand {
    position: relative !important;
    top: 20px !important;
    float: right;
    right: 5px;
    padding: 0px !important;
    margin: 0px !important;
    background: transparent !important;
  }
}

@media #{$mq-large} {
  .products-lifting-grid > .row > .products-lifting-column:last-child {
    align-self: auto !important;
  }
}

@media only screen and (max-width: 1199px) {
  // lifting
  .products-lifting-modal-content {
    padding: 0px !important;
    background: transparent !important;
    height: 800px !important;
  }

  .products-lifting-modal-button-close {
    top: 80px;
    zindex: 50px;
  }

  .products-lifting-modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .products-lifting-modal {
    background: transparent !important;
  }
  .products-lifting-modal-content,
  .products-lifting-modal-image {
    height: 500px !important;
    width: 500px;
  }

  .products-lifting-modal-button-close {
    top: -2.5rem !important;
    right: -7rem !important;
  }

  // cosmetics

  .products-cosmetics-header {
    text-align: center;
  }

  .products-cosmetics-images {
    margin: auto;
  }

  .products-cosmetics-steps {
    .three.steps > * {
      width: 100% !important;
    }
  }

  .products-cosmetics-item {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

@media only screen and (max-width: 992px) {
  .products-reveal {
    width: 250px;
    margin-left: 10%;
  }

  .products-lifting-grid {
    justify-content: center !important;
  }

  .products-lifting-column {
    padding-top: 10px;
  }

  .products-lifting-button-expand {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .products-reveal {
    margin: auto;
  }

  .products-lifting-image {
    border-radius: 4px;
    border: 1px solid #d4d4d5 !important;
  }

  // cosmetics
  .products-cosmetics-images {
    width: 250px;
    height: 200px;
  }

  .products-cosmetics-item {
    font-size: 14px!important;
    line-height: 2!important;
  }
}

@media only screen and (max-width: 625px) {
  .products-tab > div > .secondary.menu {
    display: flex;
    flex-direction: column;

    .item {
      margin-bottom: 10px;
    }
  }

  .products-tab > div div.ui.segment.active.tab > div {
    border: none;
  }

  .cosmetics-left-tab > .menu {
    justify-content: center !important;
  }

  .cosmetics-left-tab > .pointing.menu {
    border: none;
  }

  .products-cosmetology-card {
    padding: 20px !important;
    margin: auto auto 1rem !important;
  }
}
