
.grid-about {
  padding-bottom: 10px !important;
}

//.row-about {
//  padding-top: 10px !important;
//}

.first-column-about, .second-column-about {
  padding: 0rem !important;
  margin-bottom: 0px !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(234, 236, 238, 1) 0%, rgba(219, 231, 231, 1) 92%, rgba(147, 193, 190, 1) 100%); //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(234,236,238,1) 0%, rgba(219,231,231,1) 77%, rgba(147,193,190,1) 100%);
}

.about-desc {
  width:75%!important;
  //padding: 0px 20px!important;
  padding: 70px 0 40px;
  align-items: center;
  display: flex;
  //justify-content: center;
  //flex-direction: column;
}

.header-about-desc {
  padding:  0px 0px!important;
  line-height: 2rem!important;
  font-size: 20px !important;
}


.header-about-desc::after {
  content: '';
  position: relative;
  display: block;
  height: 3px;
  width: 35px;
  margin-top: 10px;
  background: #9CC4C3;
  will-change: transform, opacity;
}

.paragraph-about-desc {
  font-size: 18px;
  line-height: 2;
  width:65%;
}

.list-content-about > .item {
  font-size: 18px;
  padding-top: 10px !important;
}

.about-icon {
  color: #239397;
  vertical-align: middle!important;
}

.paragraph-about-desc , .about-desc > *, .list-content-about > .item {
  //font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



@media screen and (max-width: 1199px) {
  .list-content-about > .item {
    font-size: 18px;
    padding: 10px!important;
  }
}

@media screen and (max-width: 991px) {
  .second-column-about {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 767px) {

  .about-desc {
    padding: 40px;
  }

  .paragraph-about-desc {
    //font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width:100%;
    line-height: 2;
  }


  .about-desc > *, .list-content-about > .item {
    font-size: 15px !important;
    //font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .about-icon {
    vertical-align: middle!important;
  }


}
