
.nav-bar-menu {
    background-color: #EDEDEF!important;
    padding:0 20px;
    top:0px!important;
    border:none!important;
    z-index:1000!important;
    position: static!important;
}


.nav-bar-menu-items {
    color: #111010;
}

.nav-bar-menu-items:hover{
    color:red!important;
}


.logo-name {
    color: #8A9493;
    font-size:25px;
    letter-spacing: 5px;
    padding-left: 10px;
    padding-top: 2px;
}

.logo-container {
    flex-direction: initial;
    display: flex;
}

.logo-container:hover {
    background-color: #EDEDEF!important;
}

@media only screen and (max-width: 767px) {

    .nav-bar-menu {
        box-shadow: none!important;
    }

    .nav-bar-sticky {
        background-color: #EDEDEF!important;
    }

    .footer-container-desc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


