#products {
  padding-top: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 86%, rgba(233, 236, 238, 1) 98%);
}

.header-products::after {
  content: '';
  display: block;
  margin: 10px auto;
  height: 3px;
  width: 50px;
  background: #9CC4C3;
  will-change: transform, opacity;
}

.products-tab > div {
  div.ui.secondary.menu {
    display: flex;
    justify-content: center;
  }

  div.ui.segment.active.tab {
    border: none;
    box-shadow: none;
  }


  div.ui.segment.active.tab > div {
    border-top: 1px solid #D4D4D5;
  }
}



.products-images, .product-column, .product-name {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-images {
  background: #fff!important;
}

.product-name {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F4F4;
  border-radius: 5px;
}


.cosmetics-left-tab > div.ui.grid {
  div.four.wide.column {
    background: linear-gradient(0deg, rgba(147, 193, 190, 0.8) 0%, rgba(255, 255, 255, 1) 13%);
  }

  div.stretched.twelve.wide.column {
    padding-left: 1px;
    background: linear-gradient(0deg, rgba(147, 193, 190, 0.8) 0%, rgba(255, 255, 255, 1) 13%);

    .active.tab {
      border-left: none !important;
      border-radius: 0px;

      div.ui.grid {
        background: #fff;

        div.row > * {
          margin-top: 5px!important;
        }
      }
    }
  }

  div.four.wide.column {
    padding-right: 0px;

    .tabular.menu {
      border-right: 1px solid #d4d4d5;
      height: 100%;
    }
  }
}

.products-reveal {
  width: 250px;
  margin-left: 25%;
}

.products-tab {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .products-reveal {
    width: 250px;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .products-reveal {
    margin: auto;
  }

}

@media only screen and (max-width: 625px) {

  .products-tab > div > .secondary.menu {
    display: flex;
    flex-direction: column;

    .item {
      margin-bottom: 10px;
    }
  }

  .products-tab > div div.ui.segment.active.tab > div {
    border: none;
  }

  .cosmetics-left-tab > .menu {
    justify-content: center !important;
  }

  .cosmetics-left-tab > .pointing.menu {
    border: none;
  }
}

