@import '../../../style/variables';

#footer {
  padding-top: 2rem !important;
  background: rgb(155, 197, 195);
  background: linear-gradient(0deg, rgba(155, 197, 195, 1) 25%, rgba(233, 236, 238, 1) 98%);
}

.footer-container-logo {
  display: flex !important;
  flex-direction: row;
  padding: 20px;
}

.footer-container-desc {
  font-weight: 600;
  padding: 10px 20px;
}


.footer-logo-name {
  padding-top: 9px !important;
}

.footer-menu-column {
  display: flex !important;
  justify-content: center;
}

.footer-menu {
  width: 6rem !important;
}

.footer-menu-items {
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #000 !important;
}

.footer-contacts-header::after {
  content: '';
  display: block;
  margin: 10px auto;
  height: 3px;
  width: 50px;
  background: #9CC4C3;
  will-change: transform, opacity;
}

.footer-contacts-info {
  margin: auto;
  width: 70% !important;
  padding: 10px;
}

.icon-footer-instagram {
  top: 10px;
}

.footer-mobile-phones {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.footer-network-info {
  line-height: 2rem;
}


@media #{$mq-computer} {
  .header-contacts {
    padding-top: 2rem;
  }

  .form-contacts {
    margin: auto!important;

  }
}

@media #{$mq-tablet} {
  .footer-contacts-info {
    font-size: 13px;
  }
}

@media #{$mq-small} {
  .footer-menu-column, .footer-container-desc, .footer-column-logo {
    display: none !important;
  }

  .footer-contacts-info {
    display: flex !important;
    padding: 0px;
  }

  .footer-contacts-info > * {
    text-align: center;
  }

  .footer-contacts-info {
    display: flex;
    flex-direction: column;
  }

  .footer-mobile-phones {
    justify-content: center;
  }
}
