
html {
  scroll-behavior: smooth;
  //font-family: "Times New Roman", Times, serif;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow-y: hidden; // hide vertical
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}


a {
  text-decoration: none; /* no underline */
}

h2{
  font-size:25px!important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

