.grid-about {
  padding-bottom: 10px !important;
}

.first-column-about,
.second-column-about {
  padding: 0rem !important;
  margin-bottom: 0px !important;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(234, 236, 238, 1) 0%,
    rgba(219, 231, 231, 1) 92%,
    rgba(147, 193, 190, 1) 100%
  ); //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(234,236,238,1) 0%, rgba(219,231,231,1) 77%, rgba(147,193,190,1) 100%);
  //background:  rgba(219, 231, 231, 1) 100%;
}

.about-desc {
  width: 75% !important;
  padding: 70px 0 40px;
  align-items: center;
  display: flex;
  margin: auto;
}

.header-about-desc {
  padding: 0px 0px !important;
  line-height: 2rem !important;
}

.header-about-desc::after {
  content: "";
  position: relative;
  display: block;
  height: 3px;
  width: 35px;
  margin-top: 10px;
  background: #9cc4c3;
  will-change: transform, opacity;
}

.paragraph-about-desc {
  font-size: 16px;
  line-height: 2;
  font-weight: 300 !important;
  width: 65%;
}

.list-content-about > .item {
  font-size: 16px;
  padding-top: 10px !important;
  font-weight: 300 !important;
}

.about-icon {
  color: #239397;
  vertical-align: middle !important;
}

.about-image {
  max-width: 100%;
}

.products-cosmetics-content {
  font-size: 20px;
}

@media only screen and (min-width: 1920px) {
  .first-column-about {
    display: flex !important;
  }

  .header-about-desc {
    margin: auto !important;
    padding-bottom: 40px !important;
  }

  .about-desc > .paragraph-about-desc,
  .list-content-about > .item {
    font-size: 19px !important;
  }
}

@media only screen and (max-width: 1919px) {
  #about {
    margin-top: 1.6rem !important;
  }
}

@media screen and (max-width: 1199px) {
  #about {
    // height: 600px;
  }

  .about-desc {
    width: 85% !important;
    padding: 60px 0 40px;
  }

  .paragraph-about-desc {
    // line-height: 1.8;
    font-size: 15px;
    width: 100%;
  }
  .list-content-about > .item {
    font-size: 15px;
    padding: 10px !important;
  }

  .header-about-desc {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  .second-column-about {
    margin-top: 0px !important;
  }

  .about-desc {
    width: 92% !important;
  }
}

@media screen and (max-width: 767px) {
  #about {
    margin-top: -0.9rem !important;
  }
  .about-desc {
    padding: 40px;
  }

  .header-about-desc {
    font-size: 25px !important;
  }

  .paragraph-about-desc {
    width: 100%;
    line-height: 2;
  }

  .about-desc > *,
  .list-content-about > .item {
    font-size: 15px;
  }

  .about-icon {
    vertical-align: middle !important;
  }
}
